body {
  background-color: #c4f4fc;
  margin: auto;
  width: 80%;
}

body h1 {
  font-family: 'Dancing Script', cursive;
  font-size: xxx-large;
  text-align: center;
}

body h2 {
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
}

body p {
  font-size: large;
  width: 45%;
}

div {
  border-style: solid;
  border-color: black;
}

table {
  border-style: solid;
  border-color: black;
}

td {
  border-style: solid;
  border-color: black;
}


/* Class selectors */

.About-us {
  text-align: justify;
  width: 75%;
}

.Bottom-container {
  margin-top: 100px;
}

.Our-goal {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 150px;
  text-align: justify;
  width: 75%;
}

.Our-goal-h2 {
  margin-left: 630px;
  position: absolute;
}

.Our-goal-p {
  margin-top: 75px;
}

.Join-us {
  text-align: justify;
  margin-top: 100px;
  width: 75%;
}

.Join-us-h2 {
  
}

.Join-us-p {
  margin-top: 75px;
}

.Salmon {
  width: 200px;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  size: 9px;
}

.icon:hover {
 text-decoration: none;
 color: #ff4c68;
}

#footer {
  background-color: #fff;
  margin: auto;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* Images */

.Chinook {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40rem;
}

.Family {
  float: right;
  margin-left: 730px;
  position: absolute;
  width: 20rem;
}

.Shirt {
  float: right;
  margin-left: 900px;
  position: absolute;
  width: 20rem;
}

.Cutter {
  float: right;
  margin-left: 550px;
  position: absolute;
  width: 20rem;
}



@media (max-width: 1350px)
